/* .sd{
    max-width: 100%;
    z-index: 0;
    pointer-events: all;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex: none;
} */
.problem-sc-3 {
    align-content: center;
    align-items: center;
    background: rgba(28, 196, 151, 0.05);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}
.problem-sc-3 .container{
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0,0,0,0.0);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    padding: 120px 0px 120px 0px;
    width: 1000px;
    max-width: 100%;
}